
@model Person

    <div class= "row">
                    <div class= "col-sm">@Model.Id</div>
                    <div class= "col-sm">@Model.FirstName  </div>
                    <div class= "col-sm">@Model.LastName  </div>
                    <div class= "col-sm">@Model.CityName  </div>
                
                    <div class= "col-sm">  
                        <form asp-action="Info" method="post">
                            <input type="hidden"  value="@Model.Id" name="id"/>
                            <button type="submit" class="btn btn-outline-info"  >Person info </button>
                        </form> 
                    </div>

                    <div class= "col-sm">
                        <form asp-action="DeletePerson" method="post">
                            <input type="hidden"  value="@Model.Id" name="id"/>
                            <button type="submit" class= "btn btn-outline-danger">Delete </button>
                        </form>                  
                    </div>
                </div>
                    