

@model CreatePersonViewModel;


<h1>Add new person</h1>

<form asp-action="Create" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" onfocus="this.value=''" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" onfocus="this.value=''"/>
    <span asp-validation-for="LastName"></span>

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber"onfocus="this.value=''"/>
    <span asp-validation-for="PhoneNumber"></span>



    

    <label asp-for="CityName"></label>

    <select asp-items="@(new SelectList(Model.uniqCities))" asp-for="NameCity" >
       
    </select>
    

    <label asp-for="CountryName"></label>
    
    <select asp-items="@(new SelectList(Model.CountrysList,"Id",  "CountryName"))" asp-for="CountryId">
       
    </select>
    <span asp-validation-for="CountryId"></span>

    

    <button type="submit" class="btn btn-outline-dark">Create person</button>

    
</form>


     <datalist id="cityList" >

         
        @foreach (string city in Model.uniqCities)
        {            
            <option value= "@city">@city</option> 
                    
        } 
        </datalist>
    


<datalist id="countrysList">
    @foreach (Country country in Model.CountrysList)
    {
        <option value="@country.CountryName">@country.CountryName</option>
        
    }
</datalist>